{# =============================================================================

    Talent Cloud
    Applicant: Application - Post: Sidebar

============================================================================= #}
{% if application_step == 3 %}

    <div
        id="skills-sidebar"
        data-title="{{ application_template.essential_sidebar_label }}"
        data-nav-items="{{ criteria.essential|json_encode() }}"
        data-nav-item-title="{{ application_template.sidebar_item_title }}"
        class="application-post__subnav-wrapper box lg-1of4"
    >
    </div>

{% elseif application_step == 4 %}

    <div
        id="skills-sidebar"
        data-title="{{ application_template.asset_sidebar_label }}"
        data-nav-items="{{ criteria.asset|json_encode() }}"
        data-nav-item-title="{{ application_template.sidebar_item_title }}"
        class="application-post__subnav-wrapper box lg-1of4"
    >
    </div>

{% endif %}
